body {
  --ff-base: 'Ubuntu', sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-base: 16px;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;

  --clr-scheme-inverse: black;
  --clr-scheme: white;

  --clr-blue: hsl(196, 52%, 48%);
  --clr-beige: hsl(36, 100%, 93%);
  --clr-brown: hsl(28, 44%, 84%);

  --clr-primary-100: hsl(196, 80%, 90%);
  --clr-primary-200: hsl(196, 80%, 85%);
  --clr-primary-300: hsl(196, 80%, 80%);
  --clr-primary-400: hsl(196, 80%, 75%);
  --clr-primary-500: hsl(196, 80%, 30%);
  --clr-primary-600: hsl(196, 80%, 25%);
  --clr-primary-700: hsl(196, 80%, 20%);
  --clr-primary-800: hsl(196, 80%, 15%);
  --clr-primary-900: hsl(196, 80%, 10%);

  --clr-secondary-100: hsl(120, 60%, 90%);
  --clr-secondary-200: hsl(120, 60%, 85%);
  --clr-secondary-300: hsl(120, 60%, 80%);
  --clr-secondary-400: hsl(120, 60%, 75%);
  --clr-secondary-500: hsl(120, 60%, 30%);
  --clr-secondary-600: hsl(120, 60%, 25%);
  --clr-secondary-700: hsl(120, 60%, 20%);
  --clr-secondary-800: hsl(120, 60%, 15%);
  --clr-secondary-900: hsl(120, 60%, 10%);

  --clr-neutral-100: hsl(36, 10%, 90%);
  --clr-neutral-200: hsl(37, 11%, 85%);
  --clr-neutral-300: hsl(36, 10%, 80%);
  --clr-neutral-400: hsl(36, 10%, 75%);
  --clr-neutral-500: hsl(36, 10%, 30%);
  --clr-neutral-600: hsl(36, 10%, 25%);
  --clr-neutral-700: hsl(36, 10%, 20%);
  --clr-neutral-800: hsl(36, 10%, 15%);
  --clr-neutral-900: hsl(36, 10%, 10%);

  --clr-text: var(--clr-scheme-inverse);

  --clr-surface-0: var(--clr-neutral-100);
  --clr-surface-1: var(--clr-neutral-200);

  --clr-button: var(--clr-primary-300);
  --clr-button-text: var(--clr-text);

  --clr-overlay: var(--clr-primary-200);
  --clr-accent-heading: var(--clr-secondary-700);
}

body.dark {
  // Would be better to use color-mix but didn't work with ionic
  --clr-scheme: black;
  --clr-scheme-inverse: white;

  --clr-primary-100: hsl(196, 70%, 10%);
  --clr-primary-200: hsl(196, 70%, 15%);
  --clr-primary-300: hsl(196, 70%, 20%);
  --clr-primary-400: hsl(196, 70%, 25%);
  --clr-primary-500: hsl(196, 70%, 30%);
  --clr-primary-600: hsl(196, 70%, 75%);
  --clr-primary-700: hsl(196, 70%, 80%);
  --clr-primary-800: hsl(196, 70%, 85%);
  --clr-primary-900: hsl(196, 70%, 90%);

  --clr-secondary-100: hsl(120, 70%, 10%);
  --clr-secondary-200: hsl(120, 70%, 15%);
  --clr-secondary-300: hsl(120, 70%, 20%);
  --clr-secondary-400: hsl(120, 70%, 25%);
  --clr-secondary-500: hsl(120, 70%, 30%);
  --clr-secondary-600: hsl(120, 70%, 75%);
  --clr-secondary-700: hsl(120, 70%, 80%);
  --clr-secondary-800: hsl(120, 70%, 85%);
  --clr-secondary-900: hsl(120, 70%, 90%);

  --clr-neutral-100: hsl(36, 5%, 10%);
  --clr-neutral-200: hsl(45, 5%, 15%);
  --clr-neutral-300: hsl(36, 5%, 20%);
  --clr-neutral-400: hsl(36, 5%, 25%);
  --clr-neutral-500: hsl(36, 5%, 30%);
  --clr-neutral-600: hsl(36, 5%, 75%);
  --clr-neutral-700: hsl(36, 5%, 80%);
  --clr-neutral-800: hsl(36, 5%, 85%);
  --clr-neutral-900: hsl(36, 5%, 90%);
}
