@import './reset';
@import './mixins';

:root {
  --ff-base: 'Outfit', sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-base: 16px;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;

  --clr-primary: #001060;
  --clr-scheme: white;
  --clr-scheme-inverse: black;

  --clr-primary-100: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 10%);
  --clr-primary-200: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 20%);
  --clr-primary-300: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 30%);
  --clr-primary-400: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 40%);
  --clr-primary-500: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 50%);
  --clr-primary-600: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 60%);
  --clr-primary-700: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 70%);
  --clr-primary-800: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 80%);
  --clr-primary-900: color-mix(in oklab, var(--clr-primary), var(--clr-scheme) 90%);

  --clr-secondary: #08d463;
  --clr-secondary-100: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 10%);
  --clr-secondary-200: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 20%);
  --clr-secondary-300: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 30%);
  --clr-secondary-400: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 40%);
  --clr-secondary-500: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 50%);
  --clr-secondary-600: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 60%);
  --clr-secondary-700: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 70%);
  --clr-secondary-800: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 80%);
  --clr-secondary-900: color-mix(in oklab, var(--clr-secondary), var(--clr-scheme) 90%);

  --clr-neutral-100: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 10%);
  --clr-neutral-200: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 20%);
  --clr-neutral-300: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 30%);
  --clr-neutral-400: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 40%);
  --clr-neutral-500: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 50%);
  --clr-neutral-600: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 60%);
  --clr-neutral-700: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 70%);
  --clr-neutral-800: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 80%);
  --clr-neutral-900: color-mix(in oklab, var(--clr-scheme-inverse), var(--clr-scheme) 90%);

  --clr-text: var(--clr-scheme-inverse);

  --clr-surface-0: var(--clr-primary-400);
  --clr-surface-1: var(--clr-primary-600);
  --clr-surface-2: var(--clr-primary-800);

  --clr-button: var(--clr-primary-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-scheme: black;
    --clr-scheme-inverse: white;
  }
}

body {
  background-color: var(--clr-surface-0);
  color: var(--clr-text);
  font-size: var(--fs-base);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);

  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.eyebrow {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--clr-secondary-200);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  @include breakpoint(md, min) {
    font-size: var(--fs-300);
  }
}

.page-title {
  font-size: var(--fs-400);
  text-transform: uppercase;
  max-width: 50ch;
  padding-right: 1rem;

  @include breakpoint(md, min) {
    font-size: var(--fs-600);
  }
}

.material-icon {
  width: 2rem;
  fill: var(--clr-neutral-100);
}

input,
textarea,
select,
button {
  color: var(--clr-neutral-500);
}
