@import './reset';
@import './mixins';
@import './theme';

body {
  background-color: var(--clr-surface-0);
  color: var(--clr-text);
  font-size: var(--fs-base);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);

  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.eyebrow {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--clr-accent-heading);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.page-title {
  font-size: var(--fs-400);
  text-transform: uppercase;
  max-width: 50ch;
  padding-right: 1rem;
}

.material-icon {
  width: 2rem;
  fill: var(--clr-text);
}

input,
textarea,
select,
button {
  color: var(--clr-text);
}
